# Visual Studio
win/CS/*/bin
win/CS/*/obj
win/CS/.vs
win/CS/**/*.suo
win/CS/*.VC.opendb
win/CS/*.VC.db
win/CS/**/*.Cache
win/CS/**/*.user
win/CS/packages/**/*
win/CS/**/applicationhost.config
*.ide
win/CS/*.DotSettings

# Xcode
macosx/

# Build system
build/
build.*/
download/

# Gtk
gtk/
